<div id="showWell" class="well">

  <h2>Pokemon Master Registration Form</h2>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this article from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_tag "/users", method: :post do %>
    <div>
      <%= label_tag :name %>
      <%= text_field_tag :name %>
    </div>
    <br>
    <div>
      <%= label_tag :email %>
      <%= email_field_tag :email %>
    </div>
    <br>
    <div>
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>
    <br>
    <div>
      <%= label_tag :password %>
      <%= password_field_tag :password_confirmation %>
    </div>
    <br>
    <p><%= submit_tag "Signup!"%></p>
  <% end %>

</div>