<h2>Update Page</h2>

<div id="showWell" class="well">
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_tag "/products/#{@product.id}", method: :patch do %>
    <div>
      <%= label_tag :name %>
      <%= text_field_tag :name, @product.name %>
    </div>
    <br>
    <div>
      <%= label_tag :move %>
      <%= text_field_tag :move, @product.description %>
    </div>
    <br>
    <div>
      <%= label_tag :price %>
      <%= text_field_tag :price, @product.price %>
    </div>
    <br>
    <p><%= submit_tag "Update Pokemon" %></p>
  <% end %>

</div>